<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Calendar</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<style type="text/css">
td {
	width: 60px;
}

.currentYearMonth>p {
	font-size: 20px
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/calendar.js" th:src="@{/js/calendar.js}"></script>
</head>
<body>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<div class="currentYearMonth">
		<h1 th:text="${month}"></h1>
	</div>
	<div class="monthButtons">
		<table>
			<tr>
				<td>
					<form action="/minus" method="post" id="newEventForm">
						<input type="hidden" name="viewingYearMonth" value=""
							th:value="${month}"></input> <input class="btn btn-default"
							type="submit" value="前月"></input>
					</form>
				</td>
				<td>
					<form action="/plus" method="post" id="newEventForm">
						<input type="hidden" name="viewingYearMonth" value=""
							th:value="${month}"></input> <input class="btn btn-default"
							type="submit" value="次月"></input>
					</form>
				</td>
			</tr>
		</table>
	</div>
	<br></br>
	<table>
		<tr>
			<td>
				<button id="plusNewEventForm" class="btn btn-primary btn-lg">+</button>
			</td>
			<td>
				<form action="/addEvent" method="post" id="newEventFrom">
					<div class="newEventZone">
						<table>
							<tr>
								<td><input type="date" name="newEvents[0].eventDate" /></td>
								<td><input type="text" name="newEvents[0].event" /></td>
							</tr>
						</table>
					</div>
					<input type="hidden" name="viewingYearMonth" value=""
						th:value="${month}" /> <input class="btn btn-primary"
						type="submit" value="新規に予定を追加する" />
				</form>
			</td>
		</tr>
	</table>
	<br></br>
	<p th:text="${errorMsg}"></p>
	<br></br>
	<table border="1" id="calendarZone" class="table-responsive">
	<!-- eventsから月を取り出し、その月の日ではないときは字の色を薄くするようにしたい -->
		<tr><th style="color:red">Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th style="color:blue">Sat</th></tr>
		<tr th:each="week:${calendar}">
			<td th:each="day:${week}">
				<h4 th:text="${day.date}"></h4>
				<p th:each="event:${day.events}" th:text="${event.event}"></p>
				<form action="/removeEvent" method="post" id="removeEventForm">
					<input class="date" type="hidden" name="removeDate" value=""
						th:value="${day.formattedDate}"></input> <input type="hidden"
						name="viewingYearMonth" value="" th:value="${month}"></input>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>