<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Calendar</title>
<style type="text/css">
td {
	width: 60px;
}

.currentYearMonth>p {
	font-size: 20px
}

</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/calendar.js" th:src="@{/js/calendar.js}"></script>
</head>
<body>
	<div class="currentYearMonth">
		<p th:text="${month}"></p>
	</div>
	<div class="monthButtons">
		<table>
			<tr>
				<td>
					<form action="/minus" method="post" id="newEventForm">
						<input type="hidden" name="viewingYearMonth" value=""
							th:value="${month}"></input> <input type="submit" value="前月"></input>
					</form>
				</td>
				<td>
					<form action="/plus" method="post" id="newEventForm">
						<input type="hidden" name="viewingYearMonth" value=""
							th:value="${month}"></input> <input type="submit" value="次月"></input>
					</form>
				</td>
			</tr>
		</table>
	</div>
	<br></br>
	<table>
		<tr>
			<td>
				<button id="plusNewEventForm">+</button>
			</td>
			<td>
				<div>
					<form action="/addEvent" method="post" id="newEventFrom">
						<div class="newEventZone">
							<table>
								<tr>
									<td><input type="date" name="newEvents[0].eventDate" /></td>
									<td><input type="text" name="newEvents[0].event" /></td>
									<td>×</td>
								</tr>
							</table>
						</div>
						<input type="hidden" name="viewingYearMonth" value=""
							th:value="${month}" /> <input type="submit" value="新規に予定を追加する" />
					</form>
				</div>
			</td>
		</tr>
	</table>
	<br></br>
	<p th:text="${errorMsg}"></p>
	<br></br>
	<table border="1" id="calendarZone">
		<tr th:each="week:${calendar}">
			<td th:each="day:${week}">
				<p th:text="${day.date}"></p>
				<p th:each="event:${day.events}" th:text="${event.event}"></p>
				<form action="/removeEvent" method="post" id="removeEventForm">
					<input class="date" type="hidden" name="removeDate" value=""
						th:value="${day.formattedDate}"></input> <input type="hidden"
						name="viewingYearMonth" value="" th:value="${month}"></input>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>