<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Calendar</title>
<style type="text/css">
td {
	width: 60px;
}

.currentYearMonth>p {
	font-size: 20px
}

.monthButtons>form {
	float: left;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/calendar.js" th:src="@{/js/calendar.js}"></script>
</head>
<body>
	<div class="currentYearMonth">
		<p th:text="${month}"></p>
	</div>
	<div class="monthButtons">
		<form action="/minus" method="post" id="newEventForm">
			<input type="hidden" name="viewingYearMonth" value=""
				th:value="${month}"></input> <input type="submit" value="前月"></input>
		</form>
		<form action="/plus" method="post" id="newEventForm">
			<input type="hidden" name="viewingYearMonth" value=""
				th:value="${month}"></input> <input type="submit" value="次月"></input>
		</form>
	</div>
	<br></br>
	<div>
		<form action="/addEvent" method="post" id="newEventFrom">
			<div class="newEventZone">
				<table>
					<tr>
						<td><input type="date" name="newEvents[0].eventDate" /></td>
						<td><input type="text" name="newEvents[0].event" /></td>
					</tr>
				</table>
			</div>
			<input type="hidden" name="viewingYearMonth" value="" th:value="${month}" />
			<input type="submit" value="新規に予定を追加する" />
		</form>
		<button id="plusNewEventForm">+</button>
	</div>
	<br></br>
	<br></br>
	<table border="1">
		<tr th:each="week:${calendar}">
			<td th:each="day:${week}">
				<p th:text="${day.date}"></p>
				<p th:each="event:${day.events}" th:text="${event.event}"></p> <input
				class="date" type="hidden" value="" th:value="${day.formattedDate}"></input>
			</td>
		</tr>
	</table>
</body>
</html>